.langs {
  position: fixed;
  bottom: 0;
  left: 2%;
  width: 3rem;
  overflow: hidden;
  
  &__selected {

  }

  &__opt-container {
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.show {
      opacity: 1;
    }
  }
}