.hero {
  position: relative;
  height: calc(100vh - 60px);
  margin: 0 auto;
  width: 70%;

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    color: var(--primary-color);
    height: 85%;

    img {
      z-index: 0;
      height: 60%;
      border-radius: 10rem;
      filter: drop-shadow(4px);
    }
  }

  &__techs {
    height: 15%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3.5rem;

    &__wrap {
      position: relative;
      width: 70px;
      height: 70px;
      border-radius: 2rem;
      box-shadow: 0px 0px 9px -3px var(--primary-color);

      .circle {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
        background: conic-gradient(
          var(--neutral-color) 25%, // Angolo in alto a sinistra
          var(--accent-color) 0% 50%, // Angolo in basso a destra
          var(--neutral-color) 50% 75%, // Angolo in basso a sinistra
          var(--accent-color) 75% 100%  // Angolo in alto a destra
        );
        transition: transform 0.3s ease;
      }

      &__card {
        background-color: var(--neutral-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-49%, -49%);
        border-radius: 2rem;
        display: flex;

        img {
          padding: 1rem;
        }
      }

      &:hover {
        .circle {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@keyframes techSlide {
  25% {
    box-shadow: 6px 7px 0 -6px var(--neutral-color),
    -7px -7px 0 -6px var(--neutral-color),
    20px 20px 0 -26px var(--accent-color),
    0 0 0 2px var(--accent-color);
  }
  75% {
    box-shadow: -6px -7px 0 -9px var(--neutral-color),
    6px 7px 0 -9px var(--neutral-color),
    20px 20px 0 -26px var(--accent-color),
    0 0 0 2px var(--accent-color);
  }
}