<!-- <div class="hero">
  <div class="hero__name">
    <img [draggable]="false" src="./photos_me/face.png" alt="chiara_zuccaro_web_developer"/>
    <div class="hero__name__info">
      <h1>{{ 'HERO.TITLE' | translate }}</h1>
      <p>{{ 'HERO.SUBTITLE' | translate }}</p>
    </div>
  </div>
  <div class="hero__techs">
    @for (tech of techs; track $index) {
      <div class="hero__techs__wrap tooltip-container">
        <div class="circle"></div>
        <div class="hero__techs__wrap__card">
          <img [src]="tech.icon" alt="{{tech.name}}_ico">
          <span class="tooltip-item">{{ tech.name }}</span>
        </div>
      </div>
    }
  </div>
</div> -->

<div class="hero-section">
  <div #canvasContainer></div>
</div>
