@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Staatliches&display=swap');

$principal-text: 'Staatliches', sans-serif;
$secondary-text: 'Lato', sans-serif;

h1 { font-size: 3rem; }    /* Main title */
h2 { font-size: 2.5rem; }  /* Section titles */
h3 { font-size: 2rem; }    /* Subsection titles */