// Brand Colors
$primary-color: #2C2C2C;   // Dark Charcoal
$accent-color: #D77A30;    // Burnt Orange
$secondary-color: #A3A3A3; // Metallic Gray
$neutral-color: #F4F1ED;   // Beige/Off-White
$highlight-color: #A54242; // Muted Red

// Text Colors
$text-dark: $primary-color;
$text-light: $neutral-color;