/* You can add global styles to this file, and also import other style files */
@use "./styles/fonts.scss" as Font;
@use "./styles/palette.scss" as Palette;
@use "./styles/mixins.scss" as mix;

:root {
  --primary-color: #{Palette.$primary-color};
  --accent-color: #{Palette.$accent-color};
  --secondary-color: #{Palette.$secondary-color};
  --neutral-color: #{Palette.$neutral-color};
  --highlight-color: #{Palette.$highlight-color};
}


/* Main body text */
body {
  font-family: Font.$secondary-text;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--neutral-color);
  margin: 0;
  padding: 0;
  user-select: none;
  height: 100vh;

  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}

/* Main titles */
h1, h2, h3 {
  font-family: Font.$principal-text;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

p {
  font-family: Font.$secondary-text;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: Palette.$text-light;
  text-decoration: none
}

button, .cta {
  @include mix.button(Palette.$accent-color, Palette.$neutral-color, Palette.$highlight-color);
  border-radius: 4px;

  &--secondary {
    @include mix.button(Palette.$secondary-color, Palette.$text-dark, Palette.$highlight-color);
  }
}

.tooltip-container {
  position: relative;

  .tooltip-item {
    display: none;
  }

  &:hover {
    .tooltip-item {
      display: block;
      position: absolute;
      top: -50%;
      left: 0;
      white-space: nowrap;
      padding: .3rem .5rem;
      border-radius: .3rem;
    }
  }
}